#
# OpenSSL configuration file.
#

# Establish working directory.

dir			= .

[ ca ]
default_ca		= CA_default

[ CA_default ]
serial			= $dir/serial
database		= $dir/index.txt
new_certs_dir		= $dir/newcerts
certificate		= $dir/cacert.pem
private_key		= $dir/cakey.key
default_days		= 365
default_md		= sha256
preserve		= no
email_in_dn		= no
nameopt			= default_ca
certopt			= default_ca
policy			= policy_match
ca_extensions		= server_cert

[ policy_match ]
countryName		= match
organizationName	= match
organizationalUnitName	= match
commonName		= supplied


[ req ]
default_bits		= 2048			# Size of keys
default_keyfile		= key.pem		# name of generated keys
default_md		= sha256		# message digest algorithm
string_mask		= utf8only		# permitted characters
distinguished_name	= req_distinguished_name
req_extensions		= v3_req

[ req_distinguished_name ]
# Variable name		  Prompt string
#----------------------	  ----------------------------------
0.organizationName	= Organization Name (company)
organizationalUnitName	= Department
countryName		= Country Name (2 letter code)
countryName_min		= 2
countryName_max		= 2
commonName		= Common Name (stud.ntnu.no mailadress)
commonName_max		= 64

# Default values for the above, for consistency and less typing.
# Variable name			  Value
#------------------------------	  ------------------------------
0.organizationName_default	= NORGES TEKNISK-NATURVITENSKAPELIGE UNIVERSITET NTNU
organizationalUnitName_default	= Telematics
countryName_default		= NO

[ v3_ca ]
basicConstraints	= CA:TRUE
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always

[ v3_req ]
basicConstraints	= CA:FALSE
subjectKeyIdentifier	= hash

[ server_cert ] # to sign the Apache CSR
basicConstraints	= critical, CA:FALSE
subjectKeyIdentifier	= hash
keyUsage		= digitalSignature, keyEncipherment
nsCertType		= server


